<template>
    <div v-show="display" class="form_page">
      <div class="shadow"></div>
      <div class="container_form elevation-2"> 
       <v-btn @click="close()" class="bouton_fermer"><v-icon>mdi-close</v-icon></v-btn>
         
             <v-form>
              <div class="update_profile" >
              <h2 class="titre_form">{{titre}}</h2>
  
              <v-text-field
                v-model="animal.nom_animal"
                label="Nom"
                dense
                hint="Ex : Rex"
                outlined>
              </v-text-field>

              <v-select
                v-model="animal.id_type"
                label="Type"
                outlined
                dense
                :items="animal_types"                
              >
              </v-select>

              <v-select
                v-model="animal.sexe"
                label="Sexe"
                outlined
                dense
                :items="sexes" 
              ></v-select>

              
              <v-text-field
                v-model="animal.age"
                label="Age"
                dense
                outlined
                type="number"
                hint="Ex : 3 ans"
                >
              </v-text-field>

              <v-text-field
                v-model="animal.poids"
                type="number"
                label="Poids"
                hint="Ex : 3 kg"
                dense
                outlined
                >
              </v-text-field>

               <v-text-field
                v-model="animal.taille"
                type="number"
                label="Taille"
                hint="Ex : 30 cm"
                dense
                outlined>
              </v-text-field>
            <div class="form_btns">
              <v-btn 
                outlined 
                @click="close()">
                Annuler
              </v-btn>

              <v-btn 
                color="#303952"
                dark
                @click="save()"
              >
                {{bouton}}
              </v-btn>
            </div>
          </div>
        </v-form>
      </div>
    </div>
</template>



<style scoped>
.form_page{
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:2;
}

.shadow{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #57606f;
  backdrop-filter: blur(10px);
  opacity: 80%;
}

.bouton_fermer{
  position: absolute;
  top: 15px;
  right: 40px;
  color:#1687a7;
}

.container_form{
  position: absolute;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding:20px 40px 0px 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 580px;
  width: 800px;
  margin: auto;
  background: #ffffff;
}

.update_profile{
  border:none;
  color: black;
}

.titre_form{
  font-family:'Cambria';
  font-size: 24px;
  text-align: center;
  color:#303952;
  margin-top:20px;
  margin-bottom: 20px;
}
.form_btns{
  text-align: center;
}

.form_btns .v-btn{
    margin-left:15px !important;
  }
</style>


<script>
  export default {
    name: 'AnimalForm',
    props:{
        display:{
            type: Boolean,
            default: false
        },
        item:{
            type: Object,
            default: function(){
              return {}
            }
        }
        
    },

    data : ()=>({
      sexes:[
        {text:"Mâle",value:"male"},
        {text:"Femelle",value:"femelle"}
      ],
      animal_types:[],
      animal:{},
      bouton:"",
      titre:"",

    }),

    methods:{

      get_types: function(){
        this.$axios.get('/animal/types').then((response)=> {
          //this.animal_types = response.data;
          let types = [];
          for(let i = 0; i < response.data.length; i++){
            types.push({text: response.data[i].libelle_type, value: response.data[i].id_type});
          }
          this.animal_types = types;
        }).catch(function (error) {
          console.log(error);
        });
      },

      close: function(){
        this.$emit("close");
      },

      init: function(){
        if(this.item.nom_animal){
          this.animal = JSON.parse(JSON.stringify(this.item));
          console.log(this.item);
          console.log(this.animal);
          this.bouton = "Modifier";
          this.titre ="Modifier mon animal";
        }else{
          this.animal = {
            id_client : this.$store.state.id_client,
            nom_animal : "",
            sexe: "",
            taille: 0,
            poids: 0,
            type:"",
            id_type:"",
            age:0
          };
          this.bouton = "Créer";
          this.titre ="Créer un nouvel animal";
        }
      },

      save: function(){
        if(this.item.nom_animal){
          this.update_animal();
        }else{
          this.create_animal();
        }
      },

      create_animal: function(){
          let data = this.animal;          
          this.$axios.post('/animal', data)
            .then((response)=> {
              console.log(response);
              this.close();
            })
            .catch(function (error) {
              console.log(error);
              alert("Erreur lors de la création, veuillez réessayer");
            });
      },


      update_animal: function(){
        let data = this.animal;
        delete data.type;
        console.log(data);
        this.$axios.put('/animal/'+ this.animal.id_animal, data)
          .then((response)=> {
            console.log(response);
            this.close();
          })
          .catch(function (error) {
            console.log(error);
            alert("Erreur lors de la modification, veuillez réessayer");
          });
      }

    },

    created:function(){
        this.get_types();
        this.init();
    },

    watch:{
        display: function(){
          if(this.display == true){
            this.init();
          }
        }
    }

    

    
  }
</script>