<!--
  VetoCalendar: Ce component permet de prendre un rdv avec un veto.
-->
<template>
  <div class="veto-calendar elevation-1" v-if="veto.avatar">
  
      <div class="veto-calendar-meta" >
          <img class="image_avatar" :src='require(`@/assets/veto/`+veto.sexe+veto.avatar+`.jpg`)' />
          <p class="name_veto">{{veto.prenom_personne}} {{veto.nom_personne}}</p>
          <p class="name_veto spe">{{veto.specialite}}</p>
          <p class="contact">{{veto.tel}}</p>
          <p class="contact mail">{{veto.mail}}</p>
          

      </div>

      <div class="veto-calendar-planning">

          <table class="planning" v-for="(day, d) in calendar_days" :key="d">
              <thead>
                  <th>
                      <td>
                          <div class="cal_day">
                              <div class="cal_day_name overline">{{day.date_libelle}}</div>
                              <div class="cal_day_date caption">{{day.date_string}}</div>
                          </div>
                      </td>
                  </th>
              </thead>

              <tbody>
                  <tr v-for="(time_shift, t) in time_shifts" :key="t">
                      <td>

                          <!---
                            En mode client: on dessine une cellule contenant un v-chip par créneau horaire,
                            permettant de réserver.
                          --->
                          <div class="day_col" v-if="mode == 'client'">
                              <span v-show="day.date_libelle == 'Dimanche' || day.date_libelle == 'Samedi'">-</span>
                             
                              
                              <!--
                                  Si on ne trouve aucun rdv dans this.rdv dont la clé est égale à
                                  la date+créneau, on affiche une puce sélectionnabile pour réserver.
                              -->
                              <v-chip 
                                v-if="!rdv[day.date_string + '_' + t]"
                                v-show="day.date_libelle != 'Dimanche' && day.date_libelle != 'Samedi'"
                                label
                                depressed 
                                color="primary" 
                                :class="{'btnActive': !rdv[day.date_string + '_' + t]}"
                                @click="create_rdv(day, time_shift, t)"
                                v-ripple
                                title="Ce créneau est disponible"
                              >
                                   {{time_shift.time}}
                              </v-chip>

                              <!--
                                  Si on trouve un rdv dans this.rdv dont la clé est égale à
                                  la date+créneau, on affiche une puce statique qui indique que le créneau est réservé.
                              -->
                              <v-chip 
                                v-if="rdv[day.date_string + '_' + t]"
                                v-show="day.date_libelle != 'Dimanche' && day.date_libelle != 'Samedi'"
                                label
                                depressed 
                                title="Ce créneau est déjà réservé."
                                class='dayBtn'     
                                :class="{'myRdv': rdv[day.date_string + '_' + t].id_client == $store.state.id_client}"                             
                              >
                                   {{time_shift.time}}
                              </v-chip>
                          </div>



                          <!---
                            En mode veto: on dessine une cellule contenant un v-chip par créneau horaire,
                            permettant de valider ou supprimer une demande de réservation.
                          --->
                          <div class="day_col" v-if="mode == 'veto'">
                              <span v-show="day.date_libelle == 'Dimanche' || day.date_libelle == 'Samedi'">-</span>
                             
                              
                              <!--
                                  Si on ne trouve aucun rdv dans this.rdv dont la clé est égale à
                                  la date+créneau, on affiche une puce statique qui indique que le créneau est libre.
                              -->
                              <v-chip 
                                v-if="!rdv[day.date_string + '_' + t]"
                                v-show="day.date_libelle != 'Dimanche' && day.date_libelle != 'Samedi'"
                                label
                                depressed                                 
                                title="Ce créneau est libre."
                              >
                                   {{time_shift.time}}
                              </v-chip>

                              <!--
                                  Si on trouve un rdv dans this.rdv dont la clé est égale à
                                  la date+créneau, on affiche:
                                  
                                  - une puce rouge si le rdv n'est pas encore validé -> au clic on affiche un popup.
                                  - une puce verte si le rdv est validée
                              -->
                              <!-- SI LE RDV EST VALIDÉ -->
                              <v-chip 
                                v-if="rdv[day.date_string + '_' + t] && rdv[day.date_string + '_' + t].statut == 'validee'"
                                v-show="day.date_libelle != 'Dimanche' && day.date_libelle != 'Samedi'"
                                label
                                depressed 
                                title="Ce rendez-vous est confirmé."
                                color="success"
                                class='dayBtn'  
                                @click="showRdvDetails(rdv[day.date_string + '_' + t])"                                                                               
                              >
                                   {{time_shift.time}}
                              </v-chip>
                              
                              <!-- SI LE RDV N'EST PAS VALIDÉ -->
                              <v-chip 
                                v-if="rdv[day.date_string + '_' + t] && rdv[day.date_string + '_' + t].statut == 'non validee'"
                                v-show="day.date_libelle != 'Dimanche' && day.date_libelle != 'Samedi'"
                                label
                                depressed 
                                title="Ce rendez-vous doit être confirmé."
                                class='dayBtn'     
                                color="primary" 
                                @click="showRdvDetails(rdv[day.date_string + '_' + t])"                        
                              >
                                   {{time_shift.time}}
                              </v-chip>
                          </div>
                          
                      </td>
                  </tr>
              </tbody>

          </table>
      </div>


    <!-- 
        Formulaire pour prise de rdv
    -->
    <div class="shadow" v-show="booking || confirmation"></div>
    <div class="modal-rdv elevation-2" v-show="booking">
        Complétez votre prise de rendez-vous en répondant à ces questions.
        <br/><br/>

        <v-select outlined color="primary" :items="animals" v-model="newRdv.id_animal" label="Pour quel animal souhaitez-vous consulter ?"></v-select>
        <br/>

        <v-textarea 
            label="Expliquez en quelques mots la raison de votre visite" 
            v-model="newRdv.libelle_rdv"
            :counter="300"
            maxlength="300"
            no-resize
            :rows="3"
            outlined
        >
        </v-textarea>

        
        <div style="text-align: center;">
            <v-btn text @click="booking=false;">Annuler</v-btn>
            <v-btn color="primary" @click="confirm_rdv_creation()">Réserver</v-btn>
        </div>
    </div>



    
    <!-- 
        Formulaire pour valdiation de rdv
    -->    
    <div class="modal-rdv-validation modal-rdv elevation-2" v-show="confirmation" v-if="selectedRdv != null">
        
        <v-simple-table class="tableRdv" >
            <template v-slot:default>            
            <tbody>
                <tr>
                <td class="key">Client</td>
                <td class="value">{{selectedRdv.client}}</td>
                </tr>
                <tr>
                <td class="key">Animal</td>
                <td class="value">
                    {{selectedRdv.animal}}
                </td>
                <tr>
                <td class="key">Motif</td>
                <td class="value">
                    {{selectedRdv.libelle}}
                </td>
                </tr>
                <tr>
                <td class="key">Date</td>
                <td class="value">
                   Le {{selectedRdv.date}} à {{time_shifts[selectedRdv.creneau].time}}
                </td>
                </tr>
                
            </tbody>
            </template>
        </v-simple-table>

        <br/>
        <div class="mrdvActions">
            <v-btn text @click="confirmation = false;">Annuler</v-btn>
            <v-btn @click="deleteRdv()" color="error"> Refuser</v-btn>
            <v-btn :disabled="selectedRdv.statut == 'validee' " @click="validateRdv()" color="success">Valider</v-btn>
        </div>
    </div>
    
    

  </div>
</template>

<style scoped>
    .modal-rdv-validation{height: 310px !important;}
    .mrdvActions .v-btn{
        margin-right: 10px;
    }
    .tableRdv{border: solid 1px #ddd !important;}
    .key{
        width: 180px;
        background:#51c2d5;
        text-align: right;
        color: #FFF;
        padding-right: 10px;        
    }
    .value{
        padding-left: 10px;
        text-align: left;
    }
    .shadow{
        z-index: 5;
        background: #ddd;
        opacity: 0.6;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

   /* .modal-rdv-validation{
        height: ;
    }*/

    .modal-rdv{
        background: #FFF;
        border-radius: 3px;
        border: solid 1px #ddd;
        width: 600px;
        height: 370px;
        margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #000;
        padding: 30px 20px 20px 20px; 
        z-index: 6;       
    }

    .veto-calendar{
        position: relative;
        border: solid 1px #ddd;
        border-radius: 3px;
        height: 350px;
        width: 1000px;
        margin: auto;
        margin-top: 20px;
    }

    .veto-calendar-meta{
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: 15px;
        width: 280px;
        
    }

    .veto-calendar-planning{
        position: absolute;
        top: 30px;
        right: 15px;
        left: 300px;
        bottom: 15px;        
        text-align: center;
    }


    .planning{
        border-collapse: collapse;        
        float: left;
    }

     .planning:first{
         margin-left: 7px !important;
     }

    .planning thead th{
        background: #D3F7FC;
        border: solid 1px #D3F7FC;
    }

    .planning tbody tr td{
        border: dashed 1px #ddd;
        text-align: center;
        height: 40px;
    }
    .cal_day{
        width: 95px;
        text-align: center;
    }

    .dayBtn{
        font-weight: normal !important;
    }

    .myRdv{
        background: #7BF7EB !important;
    }

    .cal_day_date{margin-top: -8px; padding-bottom: 5px;}
    

    .image_avatar{
        width:150px;
        margin-left:60px;
        margin-top:15px;
    }
    .name_veto{
        font-family:'Cambria';
        color:#303952;
        font-size: 20px;
        margin-top:10px;
        text-align: center;
    }

    .spe{
        font-size: 15px;
        margin-top: -20px;
    }

    .contact{
        font-family:'Cambria';
        color:#303952;
        font-size: 12px;
        text-align: center;
    }

    .mail{
        margin-top: -20px;
    }

</style>

<script>

export default {
  name: 'VetoCalendar',

  components: {
    
  },

  props:{
      veto: {
          type: Object,
          default: ()=>{
              return {}
          }
      },  

      mode: {
        type: String,
        default: "client"
      },
      
       animals: {
          type: Array,
          default: ()=>{
              return []
          }
      },  
      
  },

  data: () => ({
      
      confirmation: false,
      booking: false,
      time_shifts: [
          {time: "09:00"},
          {time: "10:00"},
          {time: "11:00"},
          {time: "14:00"},
          {time: "15:00"},
          {time: "16:00"},
      ],
      calendar_days: [],
      loading: false,
      rdv: {},
      newRdv: {
          id_animal: null,
          id_client: null,
          id_veto: null,
          libelle_rdv: "",
          creneau: 0,
          date: ""
      },

      selectedRdv: null,

  }),

  methods:{

    deleteRdv: function(){
        this.$axios.delete('/demandes_rdv/'+ this.selectedRdv.id_rdv).then((response)=> {
            console.log(response.data);
            this.selectedRdv = null;
            this.confirmation = false;
            this.getRdv();
      }).catch(function (error) {
        console.log(error);
      });
    },


    validateRdv: function(){
        this.$axios.put('/demandes_rdv/'+ this.selectedRdv.id_rdv, {"statut": "validee"}).then((response)=> {
            console.log(response.data);            
            this.confirmation = false;
            this.getRdv();
      }).catch(function (error) {
        console.log(error);
      });
    },

    showRdvDetails: function(rdv){
        this.selectedRdv = null;
        this.confirmation = true;
        this.$axios.get('/demandes_rdv/'+ rdv.id_rdv).then((response)=> {
            console.log(response.data);
            this.selectedRdv = response.data;
            this.selectedRdv.id_rdv = rdv.id_rdv;
      }).catch(function (error) {
        console.log(error);
      });
    },

    create_rdv: function(day, timeshift, creneauId){

        this.newRdv= {
          id_animal: null,         
          libelle_rdv: "",
          creneau: creneauId,
          date: day.date_string
        };

        this.newRdv.id_client = this.$store.state.id_client;
        this.newRdv.id_veto = this.veto.id_personne;

        this.booking = true;        
        //console.log("Le client souhaite prendre rdv le ", day.date_string, " à ", timeshift.time, ' (creneau:', creneauId, ') !');
    },

    confirm_rdv_creation: function(){

        this.$axios.post('/demandes_rdv', this.newRdv).then((response)=> {
            
            this.booking = false;            
            this.getRdv();
            alert("Votre demande de rendez-vous a été enregistrée !");
        
      }).catch(function (error) {
        console.log(error);
      });

    },
    
    booked: function(obj){
        if(typeof obj == 'undefined'){
            return true;
        }        
        return false;
    },

    init: function(){

        let start = this.getTodayDate();
        let count = 6;

        this.$axios.get('/calendar/days?start='+start+'&count='+count).then((response)=> {             
           this.calendar_days = response.data;
           if (this.mode =="veto"){
               this.getRdv();
           }
        }).catch(function (error) {
            console.log(error);
        });

    },

    getRdv: function(){
        console.log("refreshing rdvs !");
        this.rdv = {};
        this.$axios.get('/calendar/veto/'+this.veto.id_personne).then((response)=> {
           for(let i = 0; i < response.data.length; i++){                
                this.$set(this.rdv, response.data[i].date + '_' + response.data[i].creneau, response.data[i]);                          
           };           
        }).catch(function (error) {
            console.log(error);
        });
    },

    getTodayDate: function(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        return  dd + '-' + mm + '-' + yyyy;
    },


  
    


  },

  created:function(){
       this.init();
  },

  watch:{
      'veto.id_personne': function(){
          if (this.veto.id_personne){
              this.getRdv();
          }
      }
  }

};
</script>

