<template>
  <v-app>
    <v-app-bar
    app
    height='0'></v-app-bar>

    <div class='banniere '>
      <img id="logo1" src="@/assets/veto/logo1.png" >
      <p id="titre_banniere">Clinique des Pattounes</p>
      <img id="account" src="@/assets/veto/user.png" >
      <p id="titre_account" v-if="$store.state.type != 'veto'"><router-link to="/mon-compte">Mon espace</router-link>
         (<a @click="logout()">Se déconnecter</a>)
      </p>
      <div class="logoutLink" v-if="$store.state.type == 'veto'" @click="logout()">Bonjour Dr {{$store.state.nom}} (<a>Se déconnecter</a>)</div>
      <img id="logo2" src="@/assets/veto/logo2.png" >
      <img id="logo3" src="@/assets/veto/pawprints.png" >
    </div>
    <!--<router-link to="/about">About</router-link>-->
    <div>
      <v-bottom-navigation small v-if="$store.state.type != 'veto'">
        <v-btn><router-link to="/">Accueil</router-link></v-btn>
        <v-btn><router-link to="/notre-histoire">A propos</router-link></v-btn>
        <v-btn><router-link to="/notre-equipe">L'équipe</router-link></v-btn> 
        <v-btn><router-link to="/prendre-un-rendez-vous">Prise de rdv</router-link></v-btn>
      </v-bottom-navigation>
    </div>
     <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>

      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>
  
  </v-app>
  
</template>

<style>
.banniere{
  position: relative;
  height: 130px;
}

.logoutLink{
  position: absolute;
  top: 75px;
  right: 15px;
}

#logo1{
  width: 130px;
  margin-top: 10px;
}

#titre_banniere{
  font-family:'Cambria';
  color:#51c2d5;
  font-size: 28px;
  margin-left: 120px;
  margin-top: -65px;
  font-weight: bold;
}

#account{
  position: relative;
  margin-left:1436px;
  top: -70px;
  width: 30px;
}

#titre_account{
  font-family:'Cambria';
  color:#1687a7;
  font-size: 13px;
  margin-left: 1410px;
  margin-top: -78px;
  font-weight: bold;
  text-decoration: underline;
}

#logo2{
  position:relative;
  width: 200px;
  margin-left: 670px;
  margin-top:-85px;
}

#logo3{
  position:relative;
  transform:rotate(25deg);
  margin-left: 1363px;
  top:-45px;
  width: 40px;
}

.v-item-group.v-bottom-navigation{
  background:#3dc1d3!important;
}

.v-application a {
  color: black !important;
}
.v-btn{
  font-weight: 800 !important;
}

</style>


<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    //
  }),

  methods: {

    logout: function(){
      this.$axios.get('/logout').then((response)=> {
            this.$router.push({path: "/login"});
      }).catch(function (error) {
        console.log(error);
      });
    }

  },
};
</script>
