<template>
  <div>
     <div class="container_titre">
      <img id="vet" src="@/assets/veto/vet.png">
      <h1 id="titre_about">Quelques mots sur nous...</h1>
      </div>
    <div class="container_about">
      <img id="clinic_about" src="@/assets/veto/clinicAbout.jpg">
      <p class="texte_presentation">
        La clinique Vétérinaire des Pattounes est une équipe de six vétérinaires au service de votre animal 24h sur 24 et 7 jours sur 7. 
        Le bien être des animaux est une préoccupation constante de nos équipes de spécialistes.
        La clinique située sur Montpellier vous accueille du lundi au vendredi de 8h à 12h et de 14h à 17h au 391 rue du parc. 
      </p>
      <p class="texte_presentation part2">
        Notre équipe de vétérinaires sera à votre service pour tout type de consultation traditionnelle et pour tout conseil 
        sur le bien-être de vos animaux de compagnie.
        Notre établissement intègre également un laboratoire d’analyse vétérinaire pour compléter tous nos diagnostics.
      </p >
      <p class="texte_presentation part2">
        Chaque mois une lettre d’information est envoyée à nos clients le désirant, pour les informer des actualités de la clinique, 
        des pathologies du moment, des nouveautés dans le domaine du médicament et de l’aliment.
        Nous vous souhaitons la bienvenue dans votre clinique, et ferons toujours le maximum pour que vous vous y sentiez chez vous.
      </p>
    </div>
    
  </div>
</template>






<script>

export default {
  name: 'About',


  data: () => ({
  
  }),
  
  methods: {

    
  }
}

</script>

<style scoped>
.container_titre{
  border:none;
}
#vet{
  width: 50px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_about{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  padding-left: 150px;
  margin-top: -40px;
}

.container_about{
  margin-top: 20px;
  border:none;
}

#clinic_about{
  margin-left: 800px;
}

.texte_presentation{
  width: 600px;
  text-align: justify;
  font-family:'Cambria';
  color:#28527a;
  margin-left: 155px;
  margin-top:-450px
}
.part2{
  margin-top:30px
}
</style>