<template>
  <div >
    <div class="container_titre">
      <p id="titre_accueil">Bienvenue sur le site de la clinique des Pattounes </p>
      <div class="container-carousel elevation-2">
      <v-carousel>
          <v-carousel-item
            v-for="(item,i) in items" :key="i" reverse-transition="fade-transition" transition="fade-transition">
            <img class="image_caroussel" :src='require(`@/assets/veto/`+item.src)'/>
            <img class="texte_caroussel" :src='require(`@/assets/veto/`+item.texte)'/>
             
          </v-carousel-item>
        </v-carousel>
      </div>
    </div>
  </div>
</template>


<script>


export default {
  name: 'Accueil',

  data: () => {
    return{ 
    items:[
      
      {
        src:'ajouter.jpg',
        texte:'texte1.png',
      },
      {
        src:'calendar.jpg',
        texte:'texte2.png',
      },
      {
        src:'adopter.jpg',
        texte:'texte3.png',
      }
      
    ]}
  },
};
</script>

<style scoped>
.container_titre{
  border:none;
}
#titre_accueil{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
}
.container-carousel{
  border: #ddd;
  width: 900px;
  height: 500px;
  margin:auto;
}
.image_caroussel{
  width: 400px;
  height: 400px;
  margin-top:25px;
  margin-left:25px;
}
.texte_caroussel{
  width: 400px;
  height: 200px;
  position: absolute;
  margin-top:150px;
  margin-left:30px;
}

.v-carousel__controls{
  background-color:green !important;
}

</style>