<template>
  <div >
    <div class="container_titre">
      <img id="user2" src="@/assets/veto/user2.png">
      <h1 id="titre_compte">Mon compte </h1>
      </div>

      <div class="container-ComptePage">
        <v-row>
          <v-col>
            <div class="container-perso">
              <p class="titre_container_infos"> Mes informations</p>
              <router-link to="/mon-profil"><v-btn class="bouton_plus elevation-2 "
              small>En savoir plus</v-btn></router-link>
              <p>
                <ul class="liste_infos">
                  <li>{{data_client.nom_personne}}</li>
                  <li>{{data_client.prenom_personne}}</li>
                  <li>{{data_client.tel}}</li>
                  <li>{{data_client.mail}}</li>
                </ul>
              </p>
              
            </div>
          </v-col>
          <v-col>
            <div class="container-perso ">
              <p class="titre_container_infos"> Mes animaux</p>
              <router-link to="/mes-animaux"><v-btn class="bouton_plus elevation-2 "
              small>En savoir plus</v-btn></router-link>
              <ul class="liste_infos" v-for="(item,i) in data_animals" :key="i"  >
                <li>Nom : {{ item.nom_animal }}</li>
              </ul>
            </div>
          </v-col>
          <v-col>
            <div class="container-perso">
              <p class="titre_container_infos"> Mes rendez-vous</p>
              
              <div class="rdvCounter" style="text-align: center;">
                <span v-show="data_rdv.length > 0">Vous avez {{data_rdv.length}} rendez-vous à venir.</span>
                <span v-show="data_rdv.length == 0">Vous n'avez aucun rendez-vous à venir.</span>
              </div>
              <router-link to="/mes-rendez-vous"><v-btn class="bouton_plus elevation-2 "
              small>En savoir plus</v-btn></router-link>
              <!--<ul class="liste_infos" v-for="(item,i) in data_rdv" :key="i"  >
                <li>{{ item.date }}</li>
                <li class="color_state"> Statut : {{ item.statut }}</li>
              </ul>-->
            </div>
          </v-col>
        </v-row>
      </div>
      <v-main>
      <v-container fluid>

          <!-- If using vue-router -->
          <router-view></router-view>
        </v-container>
        </v-main>
  </div>
  
</template>


<script>


export default {
  name: 'Compte',

  components: {
   
  },

  data: () => ({
    data_client:[],
    data_animals:[],
    data_rdv:[],
  }),
   methods: {
 
    get_client: function(){ 
      this.$axios.get('/client/'+this.$store.state.id_client, {
       
    })
    .then((response)=> {
      this.data_client = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    },

    get_animals: function(){ 
      this.$axios.get('/clients/'+this.$store.state.id_client+'/animals', {
       
    })
    .then((response)=> {
      this.data_animals = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    },

    get_rdv: function(){ 
      this.$axios.get('/demandes_rdv/'+this.$store.state.id_client, {
       
    })
    .then((response)=> {
      console.log(response);
      this.data_rdv = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    }

  },
  created:function(){
    this.get_client();
    this.get_animals();
    this.get_rdv();
  }
  
}



</script>

<style scoped>
.container_titre{
  border:none;
}
#user2{
  width: 60px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_compte{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  padding-left: 160px;
  margin-top: -42px;
}

.container-ComptePage{
  border: none;
  margin:120px;
  
}

.container-perso{
  border: none;
  width: 400px;
  height: 200px;
  background: #aee1e1;
  border-radius:10px;
}
.titre_container_infos{
  font-family:'Cambria';
  font-weight: bold;
  font-size: 20px;
  font-family:'Cambria';
  padding-top: 10px;
  text-align: center;
  color:#303952;
}
.liste_infos{
  font-family:'Cambria';
  margin-left: 20px;
  color:#303952;
}
.bouton_plus{
  font-family:'Cambria';
  font-weight: bold;
  margin-left:260px;
  color:#1687a7;
  position:absolute;
  margin-top:108px;
}
#settings{
  width: 40px;
  position:absolute;
  margin-top:-45px;
  margin-left:350px;
}
.animaux{
  margin-left:40px;
}

.color_state{
  font-weight: bold;
  color:black;
}


</style>