<template>
  <div>
    <div class="container_titre">
      <img id="vet" src="@/assets/veto/vet.png">
      <h1 id="titre_equipe">Notre équipe</h1>
    </div>
    
    <div class="carte_grid d-flex flex-wrap" >
      
        <div v-for="(item,i) in data" :key="i"  class="carte elevation-3" >
          <img class="image_avatar" :src='require(`@/assets/veto/`+item.sexe+item.avatar+`.jpg`)' />
          
          <div>
            {{ item.prenom_personne }} {{ item.nom_personne }} <h3 id="titre_spe">{{ item.specialite }}</h3>
          </div>
        
        </div>
      
    </div>
    
   
  </div>
  
</template>



<script>

export default {
  name: 'Equipes',


  data: () => ({
    data : [],
  }),
  
  methods: {

    get_vetos: function(){
      this.$axios.get('/veterinaires', {
    })
    .then((response)=> {
      console.log(response);
      this.data = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    }
  },
  created:function(){
    this.get_vetos();
  }
}

</script>

<style scoped>
.container_titre{
  border:none;
}
#vet{
  width: 50px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_equipe{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  padding-left: 150px;
  margin-top: -40px;
}

.carte{
  border:solid 1px #ddd;
  margin-right: 10px;
  height: 300px;
  width: 300px;
  margin:10px;
  text-align: center;
  padding:10px;
  color:#1687a7;
  font-family:'Cambria';

}

.carte_grid{
  width: 967px;
  margin:auto;
  border: none;
  margin-top:10px;
}

.image_avatar{
  width: 200px;
}

#titre_spe{
  color:#0abde3;
  font-weight: bold;
}
</style>