 <template>
  <div class="loginPage">
      <h1>Clinique des Pattounes</h1>
      <img id="logo1" src="@/assets/veto/logo1.png" >
    <div class="container-loginPage">

        <v-row>

            <v-col>
                <div class="container-login elevation-3"> 
                    <v-form>
                        <div class="login-fields">
                            <p>Connectez-vous</p>
                            <v-text-field
                                v-model="username"
                                rounded
                                prepend-inner-icon="mdi-account-circle"
                                placeholder="ID"
                                solo>
                            </v-text-field>

                            <v-text-field
                                v-model="password"
                                rounded
                                prepend-inner-icon="mdi-key"
                                placeholder="Password"
                                type="password"
                                solo>
                            </v-text-field>

                            <v-btn class="submit"
                            rounded
                            elevation="2"
                            :disabled="username =='' || password ==''"
                            outlined
                            @click="login()" >
                            Envoyer
                            </v-btn>

                            <router-link to="/inscription">
                            <p id="ou">Ou</p>
                            <v-btn class="submit"
                            id="inscription"
                            rounded
                            elevation="2"
                            outlined >
                            Inscrivez-vous
                            </v-btn>
                            </router-link>

                        </div>
                    </v-form>
                </div>
            </v-col>

            <v-col>
                <img id="clinic" src="@/assets/veto/clinic.jpg" >
            </v-col>
        </v-row>

        
        
    </div>
  </div>
</template>


<style scoped>
.loginPage{
    background: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    overflow: auto;
}

.container-loginPage{
    /*border: red solid 1px;*/
    position:relative;    
}

.container-loginPage .col{text-align: center;}
.container-login{
    border: none;
    height: 550px;
    width: 500px;
    margin: auto;
}

#clinic{
     margin: auto;
     margin-top: 60px;     
}

p{
  font-family:'Cambria';
  color:#079992;
  font-size: 25px;
  font-weight: bold;  
  margin-top:-50px;
}
.login-fields{
    width: 200px !important;
    padding-top: 150px;
    margin-left: 150px;
}

.submit{
    color: #079992;
}

#ou{
    margin-top: 30px;
}


    
h1{
  font-family:'Cambria';
  color:#51c2d5;
  font-size: 35px;
  font-weight: bold;
  margin-left:760px;
}
#logo1{
    margin-left:1150px;
    margin-top:-100px;
}

</style>

<script>

export default {
  name: 'App',

  data: () => ({
    
    username: "durandcarole@gmail.com",
    password: "1234",

  }),

  methods: {

      login: function(){
        this.$axios.post('/login', {
        mail: this.username,
        password: this.password
  })
  .then((response)=> {
    //console.log(response);
    if (response.data.type == "veto"){
      this.$router.push({path: '/veto-planning'});
    }else{
      this.$router.push({path: '/'});
    }
    
  })
  .catch(function (error) {
    //console.log(error);
  });
      }
    }

  }

</script>