<template>
<div class="test">
  <div class="container_titre">
      <img id="pencil" src="@/assets/veto/pencil.png">
      <h1 id="titre_compte">Modifier mon profil </h1>
  </div>

  <div v-show="successUpdate" class="success_update">
    Modification(s) réussie(s)
  </div>
    <div class="container_form elevation-3">
      <v-form>
        <div class="update-profile">
            <h2 class="titre-form">Nouvelles informations</h2>
  
              <v-text-field
                v-model="data.nom_personne"
                label="Nom"
                dense
                hint="Ex : Dupont"
                :placeholder="data.nom_personne"
                solo>
              </v-text-field>

              <v-text-field
                v-model="data.prenom_personne"
                label="Prénom"
                dense
                hint="Ex : Michel"
                :placeholder="data.prenom_personne"
                solo>
              </v-text-field>

              <v-text-field
                v-model="password"
                label="Mot de passe"
                dense
                placeholder="****"
                type="password"
                solo
                :error-messages="passwordError"                
                >
              </v-text-field>

              <div v-show="show_confirm_password"><v-text-field
                v-model="Confirmpassword"
                label="Confirmer le nouveau mot de passe"
                dense
                :error-messages="passwordError"
                hint="Confirmer le nouveau mot de passe"
                type="password"
                solo>
              </v-text-field></div>
                            
              <v-text-field
                v-model="data.tel"
                label="téléphone"
                dense
                hint="Ex : 06000000"
                :placeholder="data.tel"
                solo>
              </v-text-field>

              <v-text-field
                v-model="data.mail"
                label="Mail"
                hint="Ex : mail@mail.com"
                dense
                :placeholder="data.mail"
                solo>
              </v-text-field>

              <v-btn class="bouton-formulaire"
                small
                elevation="2"
                outlined >
                Annuler
              </v-btn>

              <v-btn class="bouton-formulaire mod"
                elevation="2"
                outlined
                @click="update_data()">
                Modifier
              </v-btn>
    
              

          </div>
        </v-form>
    </div>
  </div>
</template>



<script>

export default {
  name: 'Profil',

  data: () => ({
    data:{},
    password:false,
    show_confirm_password:false,
    Confirmpassword:'',
    successUpdate:false,
    passwordError: ""
  }),
   methods: {
     get_client: function(){ 
      this.$axios.get('/client/'+this.$store.state.id_client, {
       
    })
    .then((response)=> {
      console.log(response);
      this.data = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    },

    update_data: function(){
      this.passwordError= "";
       if (this.password == this.Confirmpassword) {
        this.data.password = this.password;
      }else{
      
        this.passwordError= "Les mots de passe ne correspondent pas";
        return 1;
      } 

      this.$axios.put('/clients/'+this.$store.state.id_client,this.data)
      .then((response)=> {
        console.log(response);
        this.successUpdate = true;
        setTimeout(()=>{     this.successUpdate = false; }, 3000);
      })
      .catch(function (error) {
        console.log(error);
        this.successUpdate = false;
      });
    }
  },
    created:function(){
      this.get_client();
    },
  

  watch:{

    password: function(){
        if (this.password != this.Confirmpassword){
          this.show_confirm_password = true;
        }
    }

  }
  
};
</script>

<style scoped>
.container_titre{
  border:none;
}
#pencil{
  width: 60px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_compte{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  padding-left: 160px;
  margin-top: -42px;
}

.container_form{
  border:solid 1px #ddd;
  border-radius:20px;
  background: #aee1e1;
  margin:auto;
  width: 500px;
  height: 500px;
}
.titre-form{
  font-family:'Cambria';
  font-size: 24px;
  text-align: center;
  color:#303952;
  margin-top:30px;
  margin-bottom: 30px;
}

.update-profile{
  border:none;
  width: 400px;
  height: 400px;
  margin:auto;
  margin-top:50px;
  color:black;
}

.bouton-formulaire{
  margin-top:10px;
  left:90px;
  margin-left:10px;
}
.mod{
  background:#303952;
  color:#fff;
}

.success_update{
  border:none;
  background: #75cfb8;
  width: 500px;
  height: 40px;
  margin-left: 500px;
  margin-bottom: 30px;
  text-align:center;
  padding-top: 6px;
  font-family:'Cambria';
}
</style>