<template>
<div>
  <div class="container_titre">
      <img id="user2" src="@/assets/veto/calendar.png">
      <h1 id="titre_compte">Mes rendez-vous </h1>
  </div>

  <br/>
  <div class="rdv-card elevation-1" v-for="(rdv, i) in rdv" :key="i">
      <div class="date overline">{{rdv.date}} - {{rdv.veto}}</div>      
      <div class="animal">Consultation pour {{rdv.animal}}</div>
      <div class="text caption">Motif: {{rdv.libelle}}</div>
  </div>



</div>
</template>

<style scoped>
.rdv-card{
  border: solid 1px #ddd;
  background: #FFF;
  padding:15px;
  border-radius: 2px;
  margin-bottom: 15px;
  width: 600px;
  margin-left: 100px;  
}

.date{
  color: #1687a7; 
}

.animal{
  margin-bottom: 5px;
}

.container_titre{
  border:none;
}
#user2{
  width: 60px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_compte{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 26px;
  padding-left: 170px;
  margin-top: -42px;
}



</style>

<script>

export default {
  name: 'ProfilRdvs',

  components: {
    
  },

  data: () => ({
    rdv: []
  }),

  methods:{
    get_rdv: function(){ 
      this.$axios.get('/demandes_rdv/'+this.$store.state.id_client, {
       
    })
    .then((response)=> {
      console.log(response);
      this.rdv = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });
    }
  },

  created:function(){
    this.get_rdv();
  }


};
</script>

