<template>
  <div>
    <div class="container_titre">
      <img id="pencil" src="@/assets/veto/pencil.png">
      <h1 id="titre_compte">Mes animaux </h1>
      <div class="bouton_ajouter"><v-btn class="btn_ajout" color='#aee1e1' @click="open_animal_form()">Ajouter</v-btn> </div>
    </div>



    <div class="container_animals">
      
      
      <div class="containerAnimal" v-for="(item,i) in data_animals" :key="i"  >
        <img class="image_animal" :src='require(`@/assets/veto/`+item.type+`.png`)' />

        <ul class="texte_animal">
          <li>Nom : {{ item.nom_animal }}</li>
          <li>Sexe : {{ item.sexe }}</li>
          <li>Age : {{ item.age }} an(s) </li>
          <li>Poids : {{ item.poids }} kg</li>
          <li>Taille : {{ item.taille }} cm</li>
        </ul>
        <v-btn class="bouton_plus elevation-2 " small @click="open_animal_form(item)">Modifier</v-btn>
        <v-btn class="bouton_delete elevation-2" small @click="confirm_delete(item)"><v-icon>mdi-delete</v-icon></v-btn>
      </div>
      
        

    </div>

    
    <animal-form :display="showAnimalForm" @close="showAnimalForm=false; get_animals();" :item="selection"></animal-form>

  </div>
</template>


 
<script>
import AnimalForm from "../components/AnimalForm.vue";
export default {
  name: 'ProfilAnimals',

  components: {
    AnimalForm
  },

  data: () => ({
    data_animals:[],
    showAnimalForm: false,
    selection:{},
    
  }),

    methods:{
      get_animals: function(){ 
      this.$axios.get('/clients/'+this.$store.state.id_client+'/animals', {
       
    })
    .then((response)=> {
      console.log(response);
      this.data_animals = response.data;
      
    })
    .catch(function (error) {
      console.log(error);
    });
    },

     open_animal_form: function(animal={}){
       this.selection = animal;
       this.showAnimalForm = true;
     },

     confirm_delete: function(animal){
        if (confirm("Etes-vous sûr de vouloir supprimer cet animal ?")) {
            this.$axios.delete('/animal/'+ animal.id_animal
            )
            .then((response)=> {
              console.log(response);
              this.get_animals();
              
            })
            .catch(function (error) {
              console.log(error);
            });
            
        }else{
          console.log("non"); 
        }
     },

   
    },
    created:function(){
    this.get_animals();
    
  },
    
};
</script>

<style scoped>
.container_titre{
  border:none;
}
#pencil{
  width: 60px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_compte{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 28px;
  padding-left: 160px;
  margin-top: -42px;
}

.container_animals{
  border : none;
  height: 600px;
  width: 400px;
  margin:auto;
}

.containerAnimal{
  border:solid 1px #ddd;
  border-radius:20px;
  background: #aee1e1;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.image_animal{
  width: 70px;
  margin-left:300px;
}

.texte_animal{
  margin-top:-70px;
  font-family:'Cambria';
  font-weight: bold;
  color:#303952;
}

.bouton_plus{
  font-family:'Cambria';
  font-weight: bold;
  margin-left:260px;
  color:#1687a7;
  position:absolute;
  margin-left: 230px;
}

.bouton_delete{
  margin-left: 340px;
}

.bouton_ajouter{
  float: right;
  margin-right: 200px;
  margin-top:-20px;
  
}

.btn_ajout{
  color:#303952;
  font-family:'Cambria';
}

</style>