<template>
  <div>
    <div class="container_titre">
      <img id="user2" src="@/assets/veto/calendar.png">
      <h1 id="titre_compte">Prise de rendez-vous </h1>
    </div>

    <div class="container_form">
      
      <v-select
        class="select_form"
        label="Vétérinaire"
        outlined
        dense
        :items="list_vetos"        
        item-value="id_personne"
        v-model="vetoSelection"
        @change="selectVeto()"
        >
      </v-select>

      
    </div>



    <veto-calendar :veto="veto" :animals="list_animals"></veto-calendar>



  </div>
</template>



<script>

import VetoCalendar from '../components/VetoCalendar.vue'

export default {
  name: 'Rdv',

  components: {
    VetoCalendar
  },

  data: () => ({
    list_animals:[],
    list_vetos:[],
    veto: {},
    vetoSelection: null,
  }),

  methods:{
        
    selectVeto: function(){
      if (this.vetoSelection != null){
        for (let i = 0; i <this.list_vetos.length; i++){
          if (this.list_vetos[i].id_personne == this.vetoSelection){
            this.veto = this.list_vetos[i];
            break;
          }
        }
      }
    },
    get_animals: function(){
      this.$axios.get('/clients/'+this.$store.state.id_client+'/animals').then((response)=> {
        let animals = [];
        for(let i = 0; i < response.data.length; i++){
          animals.push({text: response.data[i].nom_animal, value: response.data[i].id_animal});
        }
        this.list_animals = animals;
      }).catch(function (error) {
        console.log(error);
      });
    },

    get_vetos: function(){
      this.$axios.get('/veterinaires/').then((response)=> {
        let vetos = [];
        for(let i = 0; i < response.data.length; i++){
          let veto = response.data[i];
          veto.text = 'Docteur ' + veto.nom_personne + ' (' + veto.specialite + ')';
          vetos.push(veto);
          //vetos.push({text: response.data[i].specialite, value: response.data[i].id_personne});
        }
        this.list_vetos = vetos;
        //this.list_vetos = response.data;
      }).catch(function (error) {
        console.log(error);
      });
    },


  },

  created:function(){
        this.get_animals();
        this.get_vetos(); 
    },
};
</script>

<style scoped>
.container_titre{
  border:none;
}
#user2{
  width: 60px;
  margin-top: 40px;
  margin-left:100px;
}
#titre_compte{
  color:#1687a7;
  font-family:'Cambria';
  font-weight: bold;
  font-size: 26px;
  padding-left: 170px;
  margin-top: -42px;
}

.container_form{
  border:none;
  width: 300px;
  height: 60px;
  margin:auto;
  margin-top: 30px;
}

.select_form{
  width: 300px;
}

.bouton_recherche{
  margin-left:750px;
  margin-top: -120px;
  font-family:'Cambria';
  color:#303952;
}
</style>