 <template>
  <div class="loginPage">
      <h1>Clinique des Pattounes</h1>
      <img id="logo1" src="@/assets/veto/logo1.png" >
    <div class="container-loginPage">

        <v-row>

            <v-col>
                <div class="container-login elevation-3"> 
                    <p>INSCRIPTION</p>
                    <v-form>
                        <div class="login-fields">
                            
                            <v-text-field
                                v-model="data.nom_personne"
                                label="Nom"
                                dense
                                hint="Ex : Dupont"
                                outlined>
                            </v-text-field>

                            <v-text-field
                                v-model="data.prenom_personne"
                                label="Prénom"
                                dense
                                hint="Ex : Laura"
                                outlined>
                            </v-text-field>

                            <v-text-field
                                v-model="data.tel"
                                label="Téléphone"
                                dense
                                hint="Ex : 06xxxxxxxx"
                                type="tel"
                                outlined>
                            </v-text-field>

                             <v-text-field
                                v-model="data.mail"
                                label="Mail"
                                type="mail"
                                dense
                                hint="Ex : dupontlaura@mail.com"
                                outlined>
                            </v-text-field>

                            <v-text-field
                                v-model="password"
                                label="Mot de passe"
                                outlined
                                dense
                                type="password"
                                :error-messages="passwordError"
                                >
                            </v-text-field>

                            <v-text-field
                                v-model="Confirmpassword"
                                dense
                                label="Confirmation"
                                hint="Confirmer le mot de passe"
                                type="password"
                                outlined
                                :error-messages="passwordError"
                                >
                            </v-text-field>

                            <v-select
                                v-model="data.sexe"
                                label="Sexe"
                                outlined
                                dense
                                :items="sexes" 
                            ></v-select>

                           <v-btn class="submit"
                                outlined
                                dense
                                @click="create_profil()"
                                >Envoyer
                            </v-btn>

                        </div>
                    </v-form>
                </div>
            </v-col>

            <v-col>
                <img id="clinic" src="@/assets/veto/dog_clinic.jpg" >
            </v-col>
        </v-row>

        
        
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    data:{
       
    },
    sexes:[
        {text:"Femme",value:"femme"},
        {text:"Homme",value:"homme"}
    ],
    password:'',
    Confirmpassword:'',
    passwordError:"",
  }),

    methods: {
        create_profil: function(){
            this.passwordError= "";
            if (this.password == this.Confirmpassword) {
                this.data.password = this.password;
            }else{
            
                this.passwordError= "Les mots de passe ne correspondent pas";
                return 1;
            } 

            this.$axios.post('/client', this.data)
            .then((response)=> {
                console.log(response);
                this.$router.push({path: '/login'});
            })
            .catch(function (error) {
                console.log(error);
                alert("Erreur lors de la création de votre profil, veuillez réessayer.")
            });
        }
    },

  watch:{
    password: function(){
        if (this.password != this.Confirmpassword){
          this.show_confirm_password = true;
        }
    },

  }

 
};

</script>
<style scoped>
.loginPage{
    background: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    overflow: auto;
}

.container-loginPage{
    position:relative;    
}

.container-loginPage .col{text-align: center;}
.container-login{
    border: none;
    height: 620px;
    width: 500px;
    margin: auto;
}

#clinic{
    width: 450px;  
    margin-top: 80px;  
    margin-left:-150px;; 
}

p{
  font-family:'Cambria';
  color:#1687a7;
  font-size: 30px;
  font-weight: bold;  
  padding-top: 20px;
  padding-bottom: 10px;
}
.login-fields{
    width: 200px !important;
    margin-left: 150px;
}

.submit{
    color: #1687a7;
}
    
h1{
  font-family:'Cambria';
  color:#51c2d5;
  font-size: 35px;
  font-weight: bold;
  margin-left:760px;
}
#logo1{
    margin-left:1150px;
    margin-top:-100px;
}

</style>

