<template>
  <div>

      <div class="vetoBanner overline">
          Planning du docteur {{$store.state.nom}}
      </div>
      
      <div class="vetoContent">
          <div class="title">Bonjour, veuillez trouver votre planning ci-dessous: </div>

          <veto-calendar :veto="veto" mode="veto"></veto-calendar>

      </div>



    <!--<veto-calendar :veto="veto" :animals="list_animals"></veto-calendar>-->



  </div>
</template>



<script>

import VetoCalendar from '../components/VetoCalendar.vue'

export default {
  name: 'VetoPlanning',

  components: {
    VetoCalendar
  },

  data: () => ({
      veto: {}
  }),

  methods:{



  },

  created:function(){
    this.veto = {        
        id_personne: this.$store.state.id_client,
        type: this.$store.state.type,
        nom_personne: this.$store.state.nom,
        prenom_personne: this.$store.state.prenom,
        avatar:this.$store.state.avatar,
        tel: this.$store.state.tel,
        mail: this.$store.state.mail,
        specialite: this.$store.state.specialite,
        sexe: this.$store.state.sexe,
    }     
  },
};
</script>

<style scoped>
    .vetoBanner{
        padding: 15px;
        background: #3dc1d3;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 25px;
        color: #FFF;
        margin-bottom: 25px;
        text-align: center;
        font-family:'Cambria';
    }

    .vetoContent{
        text-align: center;
    }

    .vetoContent .title{
        margin-bottom: 20px;
        font-family:'Cambria';
    }
</style>